.item-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .item-title {
    font-size: 22px;
  }

  .menu-item-svg {
    width: 35px;
    height: 35px;
    margin-right: 1.5rem;
  }
}
