.menu-item-wrapper {
  padding: 0.3rem;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  .item-container {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 1rem;

    &.collapsed {
      justify-content: center;
      margin: 0;
      width: 100%;
    }

    .item-title {
      font-size: 22px;
    }

    .menu-item-svg {
      width: 35px;
      height: 35px;
    }
  }
}
