<div class="login-container">
  <logo-item class="login-logo"></logo-item>
  <div class="login-form-container">
    <div class="login-grid">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />

        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />

        <button class="button" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
