<div class="login-container">
  <div class="login-logo">
    <logo-item></logo-item>
  </div>
  <div class="login-form-container">
    <div class="login-grid">
      <h1 class="header-title">Login</h1>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <div class="input-container">
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName="username" />
        </div>

        <div class="input-container">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" />
        </div>

        <button class="submit-button" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
