.sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #613dc1;
  width: 260px;
  height: 100%;
  color: white;

  &.collapsed {
    width: 100px;
  }

  .sidebar-wrapper {
    margin-top: 1.5rem;
    height: 100%;

    .menu-items-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
      margin-top: 3rem;

      .primary-menu-container,
      .secondary-menu-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &.collapsed {
          align-items: center;
        }
      }
    }
  }
}
