.row-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.stats-container,
.charts-container {
  display: flex;
  margin: 2.5rem 1.5rem 0 0;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  flex: 2;
}

.charts-container {
  padding-bottom: 1.5rem;
}
