@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Poppins", serif;
  height: 100%;
  background-color: #eaf9fe;
  margin: 0;
}
